<div class="container">
    <div class="question-list" >
        <h2>Solutions</h2>
        <table>
            <thead>
                <tr>
                    <th style="text-align: center;">No.</th>
                    <th style="text-align: center;">Question</th>
                    <th style="text-align: center;">Options</th>
                    <th style="text-align: center;">Correct Answer</th>
                </tr>
            </thead>
            <tbody *ngFor="let question of question_list; let index = index">
                <tr>
                    <td style="text-align: center;">{{ question.question_number }}</td>
                    <td style="text-align: center;">{{ question.quiz_question }}</td>
                    <td style="text-align: center;">
                        <div *ngFor="let option of question.options">
                          {{ option }}
                        </div>
                      </td>
                    <td style="text-align: center;">{{ question.correct_answer }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
