<div class="container">
    <h1 style="text-align: center;">Tutors List</h1>
    <div  style="text-align: right;">
        <a routerLink="add-tutor" class="primary-button">Add New Tutor</a>
    </div>
    
    <table>
        <thead>
            <tr>
                <th style="text-align: center;">No.</th>
                <th style="text-align: center;">Name</th>
                <th style="text-align: center;">Email</th>
                <th style="text-align: center;">Qualifications</th>
                <th style="text-align: center;">Enrolled Courses</th>
                <th style="text-align: center;">Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let tutor of tutorList; let index = index">
            <tr>
                <td style="text-align: center;">{{ index + 1 }}</td>
                <td style="text-align: center;">{{ tutor.tutor_name }}</td>
                <td style="text-align: center;">{{ tutor.tutor_email }}</td>
                <td style="text-align: center;">{{ tutor.qualifications }}</td>
                <td style="text-align: center;">{{ tutor.course_list.length }}</td>
                <td class="actions">
                    <div class="actions-dropdown">
                        <a style="cursor: pointer;" [routerLink]="['/admin/tutors','edit', tutor.tutor_email]">Edit</a>
                        <a style="cursor: pointer;" (click)="deleteTutors(tutor.tutor_email)">Delete</a>
                        
                    </div>
                    <button class="badge-action">Show Actions</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>