<div class="container" >
    <div class="card" *ngFor="let session of sessionList;">
        <h2>{{ session.course.university_title }}</h2>
        <p><strong>Course:</strong>{{ session.course.title }}</p>
        <p><strong>Tutor:</strong>{{ session.tutor.tutor_name }} ({{ session.tutor.qualifications }})</p>
        <p><strong>Class Schedule:</strong> {{ session.schedule }}</p>
        <div class="btn-container">
            <button class="btn" onClick="requestToEnroll(session.session_id)">Request To Enroll Now</button>
        </div>
    </div>
</div>