<header>
    <nav>
        <ul>
            <li *ngIf="!isAuthenticated()">
                <a routerLink="home" >Home</a>
            </li>
            <li *ngIf="isAuthenticated()">
                <a *ngIf="role == 'student'" routerLink="student/dashboard">Dashboard</a>
                <a *ngIf="role == 'tutor'" routerLink="student/tutor">Dashboard</a>
                <a *ngIf="role == 'admin'" routerLink="student/admin">Dashboard</a>
            </li>
            <li><a routerLink="home">Courses</a></li>
            <li><a routerLink="home">Tutors</a></li>
            <li *ngIf="!isAuthenticated()">
                <a routerLink="auth/signup" id="signUp">Sign Up</a>
            </li>
            <li *ngIf="!isAuthenticated()">
                <a routerLink="auth/login" id="login">Login</a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated()">
                <a routerLink="home" id="logout" (click)="logout()">Logout</a>
            </li>
            <li class="nav-item ms-auto" *ngIf="isAuthenticated()">
                <a routerLink="home" id="welcome-message">Welcome {{ name }}</a>
            </li>
        </ul>
    </nav>
</header>