<header>
    <nav>
        <ul>
            <li *ngIf="!isAuthenticated()">
                <a routerLink="home" >Home</a>
            </li>
            <li *ngIf="isAuthenticated()">
                <a *ngIf="role == 'student'" routerLink="student/dashboard">Dashboard</a>
                <a *ngIf="role == 'tutor'" routerLink="tutor/dashboard">Dashboard</a>
                <a *ngIf="role == 'admin'" routerLink="admin/dashboard">Dashboard</a>
            </li>
            <li>
                <a routerLink="home" *ngIf="!isAuthenticated()">Courses</a>
            </li>
            <li>
                <a routerLink="home" *ngIf="!isAuthenticated()">Tutors</a>
            </li>
            <li *ngIf="isAuthenticated() && role == 'admin'" >
                <a routerLink="admin/students">Students</a>
            </li>
            <li *ngIf="isAuthenticated() && role == 'admin'" >
                <a routerLink="admin/tutors">Tutors</a>
            </li>
            <li *ngIf="isAuthenticated() && role == 'admin'" >
                <a routerLink="admin/universities">Universities</a>
            </li>
            <li *ngIf="isAuthenticated() && role == 'admin'" >
                <a routerLink="admin/courses">Courses</a>
            </li>
            <li *ngIf="isAuthenticated() && role == 'admin'" >
                <a routerLink="admin/sessions">Sessions</a>
            </li>
            <li *ngIf="isAuthenticated() && role == 'tutor'" >
                <a routerLink="tutor/sessions">Sessions</a>
            </li>
            <li *ngIf="isAuthenticated() && role == 'student'" >
                <a routerLink="student/courses">Enroll</a>
            </li>
            <li *ngIf="isAuthenticated() && role == 'student'" >
                <a routerLink="student/my-courses">My Courses</a>
            </li>
            <li *ngIf="isAuthenticated() && role == 'tutor'" >
                <a routerLink="tutor/online-quiz">Online Quiz</a>
            </li>
            <li *ngIf="isAuthenticated() && role == 'student'" >
                <a routerLink="student/performance">Performance</a>
            </li>
            <li *ngIf="isAuthenticated() && role == 'tutor'" >
                <a routerLink="tutor/performance">Student Progress</a>
            </li>

            <li *ngIf="!isAuthenticated()">
                <a routerLink="auth/signup" id="signUp">Sign Up</a>
            </li>
            <li *ngIf="!isAuthenticated()">
                <a routerLink="auth/login" id="login">Login</a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated()">
                <a routerLink="home" id="logout" (click)="logout()">Logout</a>
            </li>
            <li class="nav-item ms-auto" *ngIf="isAuthenticated()">
                <a routerLink="home" id="welcome-message">Welcome {{ name }}</a>
            </li>
        </ul>
    </nav>
</header>