body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 100;
    padding: 100px;
}

h1 {
    color: #aa0c0c;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

button {
    padding: 30px 30px;
    margin: 0 100px;
    background-color: #0e2a63;
    color: #fff;
    border:none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #e00f2b;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
