body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 100;
    padding: 100px;
}

h1 {
    color: #aa0c0c;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

button {
    padding: 20px 30px;
    margin: 0 30px;
    background-color: #e98d92;
    color: #4b1fb1;
    border:none;
    border-radius: 100px;
    cursor: pointer;
}

button:hover {
    background-color: #e00f2b;
}

label {
    display: block;
    margin-bottom: 5px;
}
