body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.navbar h1 {
    margin: 0;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1000px;
    margin-top: 20vh !important;
    margin-bottom: 20vh !important;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 0 0 calc(30% - 20px);
    margin-bottom: 20px;
    overflow: hidden;
}

.course img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.course-content {
    padding: 20px;
}

.course h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.course p {
    margin: 0;
}



.description {
    height: 18vh;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*BUTTON START*/
.btn-container {
    text-align: right;
    margin-bottom: 4vh;
    margin-right: 2vw;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}
/*BUTTON END*/