<div class="container">
    <h1 style="text-align: center;">Quizes List</h1>
    <div  style="text-align: right;">
        <a routerLink="add-quiz" class="primary-button">Add New Quiz</a>
    </div>
    
    <table>
        <thead>
            <tr>
                <th style="text-align: center;">No.</th>
                <th style="text-align: center;">Course Code</th>
                <th style="text-align: center;">Course Title</th>
                <th style="text-align: center;">Universty Title</th>
                <th style="text-align: center;">Quiz Description</th>
                <th style="text-align: center;">Questions</th>
                <th style="text-align: center;">Student Performance</th>
            </tr>
        </thead>
        <tbody *ngFor="let quiz of quizList; let index = index">
            <tr>
                <td style="text-align: center;">{{ index + 1 }}</td>
                <td style="text-align: center;">{{ quiz.course.course_code }}</td>
                <td style="text-align: center;">{{ quiz.course.title }}</td>
                <td style="text-align: center;">{{ quiz.course.university_title }}</td>
                <td style="text-align: center;">{{ quiz.description }}</td>
                <td style="text-align: center;">
                    <a class="success-button" [routerLink]="['/tutor/online-quiz','add-questions', quiz.quiz_id]">Details</a>
                </td>
                <td style="text-align: center;">
                    <a class="success-button" [routerLink]="['/tutor', 'performance', quiz.quiz_id]">Check</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>