<div class="container">
    <h2>Edit Student</h2>
    <form [formGroup]="studentForm" (ngSubmit)="onStudentUpdate()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" formControlName="name">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" readonly>
        </div>
        <input type="submit" value="Update Student">
    </form>
</div>