<!--------------------LOGIN--------------------->
<main>
    <div class='login'>
        Login
          <form (ngSubmit)="onLogin()">
              <input type='text' id='email' placeholder='Email'>
              <input type='password' id='password' placeholder='Password'>
              <a class='login-btn' href='student-sign-in.html'>LOG IN (Student)</a>
          </form>

          <!----------------REMOVE THIS CODE AFTER IMPLEMENTATION--------------->
          <br>
          <div class="extra">
            <a class='login-btn' href='tutor-sign-in.html'>LOG IN (Tutor)</a>
          </div>
          <!----------------REMOVE THIS CODE AFTER IMPLEMENTATION--------------->
    </div>
 </main>
 <!--------------------LOGIN--------------------->