<div class="container">
    <h2>Add New Course</h2>
    <form [formGroup]="courseForm" (ngSubmit)="onCourseSubmit()">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" formControlName="title">
        </div>
        <div class="form-group">
            <label for="course_code">Course Code:</label>
            <input type="text" id="course_code" formControlName="course_code">
        </div>
        <div class="form-group">
            <select formControlName="university_title" class="custom-dropdown">
                <option value="default" selected="default" disabled>Please select a company</option> 
                <option *ngFor="let university of universityList" [selected]="university.title" [value]="university.title">{{ university.title }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" formControlName="description">
        </div>
        <input type="submit" value="Add Course">
    </form>
</div>