.container {
    max-width: 500px;
    margin-top: 20vh !important;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 6px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/*DROPDOWN*/
.custom-dropdown {
    width: 100%; /* Adjust padding as needed */
    padding: 10px;
    font-size: 16px; /* Adjust font size as needed */
    border: 1px solid #ced4da; /* Border color */
    border-radius: 4px; /* Border radius */
    background-color: #ffffff; /* Background color */
    color: #495057; /* Text color */
  }
  
  .custom-dropdown option {
    padding: 8px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    background-color: #ffffff; /* Background color */
    color: #495057; /* Text color */
  }
/*DROPDOWN*/