.container {
    max-width: 1200px;
    margin-top: 10vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
}

.content {
    padding: 20px;
}

.card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.card p {
    margin: 0;
}

/*GRAPH START*/
.graph {
    width: 50vw;
    margin: 50px auto;
    border-radius: 5px;
    overflow: hidden;
}

.bar-container {
    display: flex;
    align-items: right;
    width: 50vw;
}

.bar {
    background-color: #007bff;
    height: 50px;
    margin-bottom: 10px;
    transition: width 0.5s;
}

.bar:hover {
    background-color: #004080;
}

.bar-label-university {
    text-align: left;
    color: #333;
    padding: 1vh;
    font-weight: bold;
    width: 40vw;
}

.bar-label {
    text-align: center;
    color: #333;
    font-weight: bold;
    width: 5vw;
}
/*GRAPH END*/