<div class="container">
    <div class="content">
        <div class="card">
            <h2>Dashboard</h2>
            <p>Welcome to the admin dashboard.</p>
        </div>

        <div style="display: flex; justify-content: center;">
            <div class="card" style="background-color: #ff0000; color: white; font-weight: bolder; width: 25%;">
                Total Students : 40
            </div>
            <div class="card" style="background-color: #ff0400; color: white; font-weight: bolder; width: 25%;margin-left: 1vw;">
                Total Tutors: 20
            </div>
            <div class="card" style="background-color: #ff0400; color: white; font-weight: bolder; width: 25%;margin-left: 1vw;">
                Total Courses: 18
            </div>
        </div>
    
        <div class="card">
            <div class="graph">
                <h1 style="text-align: center;">Enrollment By Students</h1>
                <div class="bar-container">
                    <div class="bar-label-university">RMIT University</div>
                    <div class="bar" style="width: 80%;"></div>
                    <div class="bar-label">80%</div>
                </div>
                <div class="bar-container">
                    <div class="bar-label-university">Harvard University</div>
                    <div class="bar" style="width: 60%;"></div>
                    <div class="bar-label">60%</div>
                </div>
                <div class="bar-container">
                    <div class="bar-label-university">University of Sydney</div>
                    <div class="bar" style="width: 40%;"></div>
                    <div class="bar-label">40%</div>
                </div>
                <div class="bar-container">
                    <div class="bar-label-university">University of Melbourne</div>
                    <div class="bar" style="width: 20%;"></div>
                    <div class="bar-label">20%</div>
                </div>
                <div class="bar-container">
                    <div class="bar-label-university">Swinburne University of Technology</div>
                    <div class="bar" style="width: 90%;"></div>
                    <div class="bar-label">90%</div>
                </div>
            </div>
        </div>
    </div>
</div>