/* .dashboard{
    padding: 1.5em 0;
    font-size: 4rem;
    color:#888;
    width: 400px;
    margin: 0 auto;
    text-align: center;
} */

.dashboard {
    padding: 1.5em 0;
    font-size: 4rem;
    color:#888;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #aa0c0c;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 1.5em 0;
    font-size: 1rem;
}

button {
    padding: 20px 30px;
    margin: 0 30px;
    background-color: #e98d92;
    color: #4b1fb1;
    border:none;
    border-radius: 100px;
    cursor: pointer;
}

button:hover {
    background-color: #e00f2b;
}

label {
    display: block;
    margin-bottom: 5px;
}
