<div class="container">
    <div class="content">
        <div class="card">
            <h5>Dashboard</h5>
            <p>Welcome to the admin dashboard.</p>
        </div>

        <div style="display: flex; justify-content: center;">
            <div class="card" style="background-color: #ff0000; color: white; font-weight: bolder; width: 25%;">
                Total Students : 40
            </div>
            <div class="card" style="background-color: #ff0400; color: white; font-weight: bolder; width: 25%;margin-left: 1vw;">
                Total Tutors: 20
            </div>
            <div class="card" style="background-color: #ff0400; color: white; font-weight: bolder; width: 25%;margin-left: 1vw;">
                Total Courses: 18
            </div>
        </div>
    
        <div *ngIf="alluniversityDashboardImage" style="text-align: center;">
            <img [src]="'data:image/jpeg;base64,' + alluniversityDashboardImage" alt="Base64 Image">
        </div>
    </div>
</div>