<header>
    <h1>Your Performance</h1>
</header>
<main>
    <section class="course" *ngFor="let course of filteredResultsByCourse | keyvalue">
        <h2 class="course-title">{{course.value[0].course.title}}</h2>
        <div class="quiz-list" class="quiz-item" *ngFor="let quiz of course.value">
          <div class="quiz-details" >
                <p class="quiz-description">{{ quiz.description }}</p>
                <p class="quiz-marks">&nbsp;&nbsp;&nbsp;&nbsp;Marks: {{ quiz.quiz_score }}</p>
                <p class="quiz-percentage">&nbsp;&nbsp;&nbsp;&nbsp;Percentage: {{ quiz.quiz_score_percent }}%</p>
          </div>
        </div>
        <p class="overall-percentage">Total Overall Percentage: {{ getOverallPercentage(course.value) }}</p>
    </section>
</main>