<div class="container">
    <h1 style="text-align: center;">Students List</h1>
    <div  style="text-align: right;">
        <a routerLink="home" class="primary-button">Add New Student</a>
    </div>
    
    <table>
        <thead>
            <tr>
                <th style="text-align: center;">No.</th>
                <th style="text-align: center;">Name</th>
                <th style="text-align: center;">Email</th>
                <th style="text-align: center;">Enrolled Courses</th>
                <th style="text-align: center;">Status</th>
                <th style="text-align: center;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center;">1</td>
                <td style="text-align: center;">John Doe</td>
                <td style="text-align: center;">john@example.com</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">
                    <p class="badge-approved">Approved</p>
                </td>                
                <td class="actions">
                    <div class="actions-dropdown">
                        <a href="#">Unapprove</a>
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                    </div>
                    <button class="badge-action">Show Actions</button>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">2</td>
                <td style="text-align: center;">Jane Smith</td>
                <td style="text-align: center;">jane@example.com</td>
                <td style="text-align: center;">0</td>
                <td style="text-align: center;">
                    <p class="badge-unapproved">UnApproved</p>
                </td>
                <td class="actions">
                    <div class="actions-dropdown">
                        <a href="#">Approve</a>
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                        
                    </div>
                    <button class="badge-action">Show Actions</button>
                </td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>