<div class="container">
    <h2>Add New Course</h2>
    <form [formGroup]="assignTutorToCourseForm" (ngSubmit)="onTutorAssignSubmit()">
        <div class="form-group">
            <label for="tutor">Tutor:</label>
            <select formControlName="email" class="custom-dropdown">
                <option value="default" selected="default" disabled>Please select a Tutor</option> 
                <option *ngFor="let tutor of tutorList" [selected]="tutor.tutor_email" [value]="tutor.tutor_email">{{ tutor.tutor_name }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="course">Course:</label>
            <select formControlName="course_code" class="custom-dropdown">
                <option value="default" selected="default" disabled>Please select a Course</option> 
                <option *ngFor="let course of courseList" [selected]="course.course_code" [value]="course.course_code">{{ course.title }}</option>
            </select>
        </div>
        <input type="submit" value="Assign Tutors To Courses">
    </form>
</div>