<main>
    <div class='dashboard'>
        <div class="card">
            <h2>Harvard University</h2>
            <div class="course">
              <h3>Physics 9:30PM - 10:30PM</h3>
              <p class="enrollment">Enrolled students: 20</p>
            </div>
            <div class="course">
                <h3>Physics 9:30PM - 10:30PM</h3>
                <p class="enrollment">Enrolled students: 20</p>
              </div>
        </div>
        <div class="card">
            <h2>RMIT University</h2>
            <div class="course">
              <h3>Course Name 2</h3>
              <p class="enrollment">Enrolled students: 15</p>
            </div>
            <div class="course">
                <h3>Course Name 2</h3>
                <p class="enrollment">Enrolled students: 15</p>
              </div>
        </div>
    </div>
</main>