<main>
    <div class='signUp'>
        Sign Up
            <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
                <input type='text' formControlName="name" id='name' placeholder='Name'>
                <input type='email' formControlName="username" id='email' placeholder='Email'>
                <input type='password' formControlName="password" id='password' placeholder='Password'>
                <input type='password' id='confirm-password' placeholder='Confirm Password'>
                <input type="submit" class="signUp-btn" value="Sign Up" />
            </form>
    </div>
</main>