<main>
    <h1 style="text-align: center; margin-top: 20vh;">These are your upcoming classes.</h1>
    <div class='dashboard'>
        <div class="card">
            <h2>Harvard University</h2>
            <div class="course">
              <h3>Physics 9:30PM - 10:30PM</h3>
              <p class="enrollment">Tanvir Sir</p>
            </div>
        </div>
        <div class="card">
            <h2>RMIT University</h2>
            <div class="course">
              <h3>Chemistry 10:30AM-11:30AM</h3>
              <p class="enrollment">Amitabh Sir</p>
            </div>
        </div>
        <div class="card">
            <h2>RMIT University</h2>
            <div class="course">
              <h3>Chemistry 10:30AM-11:30AM</h3>
              <p class="enrollment">Amitabh Sir</p>
            </div>
        </div>
    </div>
</main>